<%= stylesheet_link_tag "frogdance" %>
<div align ="right">
 <%=link_to "New", new_post_path%>
</div>
<h1 style="color:white" > Instakilo </h1>
 <% @posts.each do |post| %>
   <div align ="center">
   <%= image_tag post.image(:medium) %>
   <p style="color:white"><%=post.caption%></p>
   <%=link_to "Delete", post_path(post.id), method: :delete %>
   </div>
   <hr>
 <% end -%>
