<%= stylesheet_link_tag "frogdance" %>
<div align ="right">
  <% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
 <%=link_to "New", new_post_path%>
</div>
<h1 style="color:white"> Instakilo </h1>
 <% @posts.each do |post| %>
   <div align ="center">
   <%= image_tag post.image(:medium) %>
   <p style="color:white"><%=post.caption%></p>
   <%=link_to "Delete", post_path(post.id), method: :delete %>
   </div>
   <hr>
 <% end -%>
